<a href="https://colab.research.google.com/github/Mukarram-2k4/2216165_AIML_BOOTCAMP_2023/blob/main/ASSIGNMENT-1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1
#string methods
s1="iam a human"
print(s1.capitalize())
print(s1.upper())
print(s1.lower())
print(s1.count("a"))
print(s1.find('h'))
print(s1.index('m'))
print(s1.center(22))
print("{} being".format(s1))

Iam a human
IAM A HUMAN
iam a human
3
6
2
     iam a human
iam a human being

In [ ]:
#2
#List methods
l1=[28,30,15,11]
l1.append("human")
print(l1)
l1.clear()
print(l1)
l1=[28,30,15,11]
l2=['humans','cars','animals']
l1.extend(l2)
print(l1)
print(l1.count(30))
l1.reverse()
print(l1)
l1.pop(5)
print(l1)
l1.remove(15)
print(l1)
l1=[28,30,15,11]
l1.sort()
print(l1)
l1.insert(1,18)
print(l1)
x=l1.index(11)
print(x)

[28, 30, 15, 11, 'human']
[]
[28, 30, 15, 11, 'humans', 'cars', 'animals']
1
['animals', 'cars', 'humans', 11, 15, 30, 28]
['animals', 'cars', 'humans', 11, 15, 28]
['animals', 'cars', 'humans', 11, 28]
[11, 15, 28, 30]
[11, 18, 15, 28, 30]
0

In [ ]:
#3
#tuple methods
tup1=(11,22,33,44,11)
print(tup1.count(11))
print(tup1.index(33))

print(max(tup1))
print(min(tup1))
print(len(tup1))

2
2
44
11
5

In [ ]:
#4
#dictionariy methods

dict1={"obj":"car",101:"BMW"}
print(dict1["obj"])
print(dict1.keys())
print(dict1.values())
print(dict1.get("obj"))
print(dict1.get(101))

car
dict_keys(['obj', 101])
dict_values(['car', 'BMW'])
car
BMW

In [ ]:
#5
#set methods
set1={10,20,30,40}
set1.add(9)
print(set1)
set1.update([50,60])
print(set1)
set1.discard(9)
print(set1)
set1.remove(10)
print(set1)

{40, 9, 10, 20, 30}
{40, 9, 10, 50, 20, 60, 30}
{40, 10, 50, 20, 60, 30}
{40, 50, 20, 60, 30}

In [ ]:
#6
#convert Decimal to Binary, Octal and Hexadecimal 

x=786
print(bin(x))

print(hex(x))

print(oct(x))

0b1100010010
0x312
0o1422

In [ ]:
#7
#arithmetic operators
x=88
y=7
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x//y)
print(x**y)
print(x&y)

95
81
616
12.571428571428571
12
40867559636992
0

In [ ]:
#8
#assignment operators
a=88
b=77
z=a+b
print(z)
z=z-a
print(z)
z=z+b
print(z)

165
77
154

In [ ]:
#9
#comparision operators
a=88
b=77
print(a==b)
print(a<=b)
print(a>=b)
print(a<b)
print(a>b)
print(a!=b)

False
False
True
False
True
True

In [2]:
#10
#logical operators
x=5
y=6
print(x<6 and x>2)
print(y<6 or y>2)
print(not y)

True
True
False

In [3]:
#11
#bitwise operators
a=99
b=88
print(a&b)#and
print(a|b)#or
print(-a)#not
print(a^b)#xor
print(a>>2)#right shift
print(a<<1)#left shift

64
123
-99
59
24
198

In [1]:
#12
#membership operators
x="VIRAT KOHLI"
print("V"in x)
print("VK"not in x)

True
True

In [5]:
#13
#identity operators
x1="sru"
y1="hackathon"
x2=77
y2=88
x3=[7,8,9]
y3=[7,8,9]
print(x1 is not y1)

print(x2 is not y2)

print(x3 is  y3)

True
True
False

In [6]:
#14
#negative indexing and slicing of lists
list1=['animals', 'cars', 'humans', 11, 15, 30, 28]
print(list1[-1])
print(list1[-6])
print(list1[2:5])
print(list1[-3:-6])

28
cars
['humans', 11, 15]
[]

In [7]:
#15
print("A series of character designated as one object known as a string"[::-1][4::3])#here first [::-1] reverses the string and then [4::3] prints a letter starting from index four at a step of 3
print("-----------")
print("welcome to python training program"[3:10][::-1])#here [3:10] prints the string starting from index position 3 and ending at and then [::-1] reverses the string

taawkcbe  tgerca  is
-----------
ot emoc

In [8]:
#16
p_phrase="was it a car or a cat i saw"
print(p_phrase.upper()[::-1])

WAS I TAC A RO RAC A TI SAW

In [9]:
#17
x=int(input(""))
y=2*x
print(x*'z'+y*'o')

3
zzzoooooo